.container{

}

.heroSection{
border:1px solid black;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 25px;
    padding-top: 10px;
    border-radius: 10px;
    background-color: rgba(74, 76, 79, 0.83);
}

.walletBalance ,.expense{
    border:1px solid  #b366fc;
    padding:10px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width:300px;
    height:150px;
    background-image: linear-gradient(to top, #bdedfb 0%, #72bedc 100%);
    border-radius: 10px;
}

.walletBalance span{
    font-size: 20px;
    padding:0 5px;
    color:rgb(63, 182, 63);
 
}

.expense span{
    font-size: 20px;
    padding:0 5px;
    color:red;

}
.button{
    padding: 10px 20px;
    border-radius: 10px;
    background-image: linear-gradient(to top, #b366fc 0%, #8647fb 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
color:white;
border:1px solid #b366fc;
}

.button:hover{
    transform: scale(1.1);
    border: none;
    background-image: linear-gradient(to top, #8647fb 0%, #b366fc 100%);
}

.expenseForm{
 margin: auto;
}
.overlay{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; 
  }

  .piechart{
    position: relative;
  }

.expenseList{
    text-align: center;
    margin:20px

}

@media only screen  and (max-width:960px){
.exepenseSummary{
    display: flex!important;
    flex-direction: column !important;;
    align-items: center !important;
}
.expenseList{
    margin:10px auto;
}
.heroSection{
    background-color: black;
}
}

@media only screen and (min-width: 961px) {
    .expenseSummary {
      display: grid;
      grid-template-columns: 60% 40%;
    }
  }

  .barchart{
    text-align: center;
    margin:20px
  }