.container{
    border: 1px solid rgb(206, 199, 199);
    background-color: white;
    color:black;
    display: flex;
    flex-wrap: wrap;
    width:400px;
    max-height: 400px;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
}
input{
    width:80%;
    padding: 10px;
    border: 1px solid rgb(206, 199, 199);
    margin-bottom: 10px;
    border-radius: 5px;
}
.cancelButton{
    background-color:rgb(241, 235, 235); 
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
    border:1px solid rgb(241, 235, 235); 
}
.cancelButton:hover{
    transform: scale(1.1); 
    border: none;
}

.addBalanceButton{
    background-color:orange; 
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid orange;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.addBalanceButton:hover{
    transform: scale(1.1); 
    border: none;
}